.computer {
    width: 55%;

    @include media($xs-L...) {
        width: 30%;
    }
    @include media('>767px') {
        width: 100%
    }
}

.main_wrapper_hero {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 50% 10%;
    height: 85vh;

    .scroll {
        justify-self: center;
    }

    @include media('>767px') {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 90% 10%; 
    }

}


.hello {
    font-family: $primary-font;
    font-weight: bold;
    color: var(--normal-text);

    @include media($sm...) {
       font-size: 1.2rem;
    }
    @include media($sm-L...) {
        font-size: 1.4rem;
    }
    @include media($md...) {
        font-size: 1.6rem;
    }
    @include media($lg...) {
        font-size: 2rem;
    }
}

.myName {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 2rem;
    color: var(--myname);
    padding: 0.1em 0;
    transition: 0.4s ease-in-out;

    @include media($sm...) {
        font-size: 2.2rem;
     }
     @include media($sm-L...) {
         font-size: 2.4rem;
     }
     @include media($md...) {
         font-size: 2.6rem;
     }
     @include media($lg...) {
         font-size: 3.3rem;
     }
}

.short_info {
    font-family: $fira;
    color: var(--normal-text);

    @include media($sm...) {
        font-size: 1rem;
     }
     @include media($sm-L...) {
         font-size: 1.2rem;
     }
     @include media($md...) {
         font-size: 1.4rem;
     }
     @include media($lg...) {
         font-size: 1.6rem;
     }
}

.social_hero {
    display: flex;
    padding-top: 1.5em;
    width: 8em;
    justify-content: space-between;
}



#scrollBtn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 1.5em;
    cursor: pointer;
    animation: 3s push infinite ease-in-out;
     @include media($sm...) {
        grid-area: scrollBtn;
     }
     @include media($md...) {
        font-size: 1.4rem;
        width: 1.8em;
    }
    @include media($lg...) {
        font-size: 1.6rem;
        width: 2em;
    }
}

@keyframes push {
    0% {
        transform: translateY(-20px);
        opacity: 0.5;
    }
    25% {
        transform: translateY(-5px);
        opacity: 1;
    }
    50% {
        transform: translateY(-20px);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

//styling for social icons
.tweeter, .linkdin, .github {
    width: 2em;
    height: 2em;
    background: url('/assets/assets/social-icons-dark.svg') top left no-repeat;
    background-size: 10em;
    // background-color: red;
}

.tweeter {background-position-x: 0px;}
.linkdin {background-position-x: -4.1em;}
.github {background-position-x: -8.1em;}

