.main_wrapper_websites {
    margin-bottom: 20px;

    @include media('>480px') {
        height: 100vh;
    }

}

.sub_wrapper_websites {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-gap: 1.5rem 1rem;

    @include media('>480px') {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem 2rem;
    }
}

.website_heading {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--normal-text);

    @include media($md...) {
        font-size: 1.6rem;
    }

    @include media($lg...) {
        font-size: 2rem;
    }
}

.gallery_card {
    @include card;
    position: relative;
    width: 100%;
    height: 95%;
    overflow: hidden;
    border: 2px solid $orange;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.658);
        opacity: 0;
        transition: 300ms;

        button {
            @include button;
            padding: 7px;
            font-size: 0.8rem;

            @include media('>480px') {
                padding: 10px;
                font-size: 1rem;
            }

        }
    }

    &:hover .overlay {
        opacity: 1;
    }
}

.btn_work {
    @include button;
    margin: 1.8rem 0 1.8rem 0rem;
}

#loader {
    width: 40%;
}